# Resolução Atividade - Capítulo 2

## 1 - Módulos e dados

- Módulos

In [ ]:
import numpy as np
import pandas as pd

- Dados

In [ ]:
dados = pd.read_csv('dados_1997_2011_paises_csv.csv',
                    sep = ';',
                    decimal = ',',
                    encoding = 'latin1')

## 2 - Análise por país

Obter: média, mediana, mínimo, máximo, quartis 1 e 3 e desvio padrão para as colunas “idh” e “competitividade_indice” de todos os países.

- IDH

In [ ]:
dados.groupby('pais') \
     .agg(min_idh = pd.NamedAgg('idh', 'min'),
          max_idh = pd.NamedAgg('idh', 'max'),
          media_idh = pd.NamedAgg('idh', 'mean'),
          mediana_idh = pd.NamedAgg('idh', 'median'),
          dp_idh = pd.NamedAgg('idh', 'std'))

                min_idh  max_idh  media_idh  mediana_idh    dp_idh
pais
Alemanha         0.8466   0.9050   0.882880       0.8888  0.020187
Austrália        0.8958   0.9290   0.914507       0.9156  0.010485
Brasil           0.6464   0.7180   0.684653       0.6866  0.022727
Bélgica          0.8628   0.8860   0.876107       0.8754  0.006401
Canadá           0.8736   0.9080   0.890480       0.8894  0.011899
China            0.5598   0.6870   0.625240       0.6240  0.041928
Cingapura        0.7404   0.8660   0.821587       0.8282  0.037984
Coréia           0.8078   0.8970   0.856907       0.8588  0.029773
Espanha          0.8162   0.8780   0.852427       0.8534  0.019299
Estados Unidos   0.8886   0.9130   0.900947       0.9010  0.006558
França           0.8298   0.8840   0.861773       0.8644  0.018103
Holanda          0.8724   0.9100   0.891320       0.8884  0.012341
Itália           0.8070   0.8740   0.848000       0.8538  0.023729
Japão            0.8572   0.9010   0.881360       0.8824  0.014602
México           0.6916   0.7700   0.736080       0.7364  0.024646
Reino Unido      0.8228   0.8630   0.846440       0.8506  0.013745
Rússia           0.6814   0.7550   0.718520       0.7182  0.026420
África do Sul    0.5990   0.6328   0.612240       0.6100  0.009790
Índia            0.4466   0.5470   0.495680       0.4954  0.034417

In [ ]:
dados.groupby('pais')['idh'] \
     .apply(lambda x: x.quantile([0.25, 0.75])) \
     .to_frame() \
     .reset_index() \
     .rename(columns={'level_1': 'percentil'})

              pais  percentil     idh
0         Alemanha       0.25  0.8671
1         Alemanha       0.75  0.9005
2        Austrália       0.25  0.9072
3        Austrália       0.75  0.9230
4           Brasil       0.25  0.6677
5           Brasil       0.75  0.7025
6          Bélgica       0.25  0.8733
7          Bélgica       0.75  0.8810
8           Canadá       0.25  0.8803
9           Canadá       0.75  0.9015
10           China       0.25  0.5925
11           China       0.75  0.6605
12       Cingapura       0.25  0.8044
13       Cingapura       0.75  0.8525
14          Coréia       0.25  0.8336
15          Coréia       0.75  0.8835
16         Espanha       0.25  0.8408
17         Espanha       0.75  0.8685
18  Estados Unidos       0.25  0.8975
19  Estados Unidos       0.75  0.9055
20          França       0.25  0.8483
21          França       0.75  0.8780
22         Holanda       0.25  0.8828
23         Holanda       0.75  0.9030
24          Itália       0.25  0.8286
25          Itália       0.75  0.8695
26           Japão       0.25  0.8698
27           Japão       0.75  0.8945
28          México       0.25  0.7203
29          México       0.75  0.7580
30     Reino Unido       0.25  0.8352
31     Reino Unido       0.75  0.8580
32          Rússia       0.25  0.6944
33          Rússia       0.75  0.7445
34   África do Sul       0.25  0.6049
35   África do Sul       0.75  0.6175
36           Índia       0.25  0.4653
37           Índia       0.75  0.5250

- Competitividade

In [ ]:
dados.groupby('pais') \
     .agg(min_compet = pd.NamedAgg('competitividade_indice', 'min'),
          max_compet = pd.NamedAgg('competitividade_indice', 'max'),
          media_compet = pd.NamedAgg('competitividade_indice', 'mean'),
          mediana_compet = pd.NamedAgg('competitividade_indice', 'median'),
          dp_compet = pd.NamedAgg('competitividade_indice', 'std'))

                min_compet  max_compet  media_compet  mediana_compet  dp_compet
pais
Alemanha             62.95       87.82     74.262667           73.44   6.839203
Austrália            64.84       92.17     80.448667           81.98   7.420898
Brasil               39.98       61.04     49.568000           48.58   5.927203
Bélgica              55.72       77.60     69.065333           69.18   5.217477
Canadá               70.74       90.78     81.897333           81.69   5.607930
China                53.68       81.10     67.490667           65.19   9.255401
Cingapura            76.26      100.00     90.890667           89.68   6.649149
Coréia               39.46       78.50     59.742667           58.88  10.077616
Espanha              52.21       69.76     61.048667           60.02   4.626768
Estados Unidos       99.09      100.00     99.878667          100.00   0.320198
França               55.76       74.37     64.994000           66.01   5.288062
Holanda              74.34       87.76     81.169333           80.48   4.448710
Itália               43.53       62.75     51.074667           50.31   5.396566
Japão                55.11       78.24     68.451333           70.03   6.585460
México               36.83       64.03     47.498000           45.31   7.312581
Reino Unido          63.85       80.28     72.406000           71.90   4.268917
Rússia               28.29       58.38     41.882000           43.59   9.144012
África do Sul        31.11       56.86     47.327333           47.67   6.940003
Índia                37.38       70.75     54.675333           59.05  11.188313

In [ ]:
dados.groupby('pais')['competitividade_indice'] \
     .apply(lambda x: x.quantile([0.25, 0.75])) \
     .to_frame() \
     .reset_index() \
     .rename(columns={'level_1': 'percentil'})

              pais  percentil  competitividade_indice
0         Alemanha       0.25                  69.225
1         Alemanha       0.75                  77.490
2        Austrália       0.25                  76.040
3        Austrália       0.75                  84.775
4           Brasil       0.25                  44.600
5           Brasil       0.75                  53.490
6          Bélgica       0.25                  67.480
7          Bélgica       0.75                  71.195
8           Canadá       0.25                  77.885
9           Canadá       0.75                  85.225
10           China       0.25                  60.610
11           China       0.75                  75.175
12       Cingapura       0.25                  87.255
13       Cingapura       0.75                  97.150
14          Coréia       0.25                  55.240
15          Coréia       0.75                  63.220
16         Espanha       0.25                  58.115
17         Espanha       0.75                  63.875
18  Estados Unidos       0.25                 100.000
19  Estados Unidos       0.75                 100.000
20          França       0.25                  61.685
21          França       0.75                  68.335
22         Holanda       0.25                  77.350
23         Holanda       0.75                  85.680
24          Itália       0.25                  47.110
25          Itália       0.75                  54.190
26           Japão       0.25                  64.835
27           Japão       0.75                  72.245
28          México       0.25                  42.360
29          México       0.75                  52.020
30     Reino Unido       0.25                  69.555
31     Reino Unido       0.75                  75.760
32          Rússia       0.25                  34.955
33          Rússia       0.75                  48.320
34   África do Sul       0.25                  44.190
35   África do Sul       0.75                  52.430
36           Índia       0.25                  45.735
37           Índia       0.75                  63.900

## 3 - Comparações dos países

Alguns pontos interessantes:

- Como na época a China não era um país relevante quanto a competitividade e IDH
- Países como Brasil, Rússia e Índia baixo IDH e Competividade
- Países como Alemanha, EUA e Cingapura se destacando com índices altos